.img-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.img-card {
  display:inline-block;
  margin: 20px;
  width: 300px;
}

.card-body {
  padding: 15px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
